[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/ImageMagick/zlib.git
[submodule "lib/jpeg-turbo"]
	path = lib/jpeg-turbo
	url = https://github.com/ImageMagick/jpeg-turbo.git
[submodule "lib/png"]
	path = lib/png
	url = https://github.com/ImageMagick/png.git
[submodule "lib/webp"]
	path = lib/webp
	url = https://github.com/ImageMagick/webp.git
[submodule "lib/tiff"]
	path = lib/tiff
	url = https://github.com/ImageMagick/tiff.git
[submodule "lib/fftw"]
	path = lib/fftw
	url = https://github.com/rust-math/fftw
[submodule "lib/ImageMagick"]
	path = lib/ImageMagick
	url = https://github.com/ImageMagick/ImageMagick.git
[submodule "lib/lcms"]
	path = lib/lcms
	url = https://github.com/ImageMagick/lcms.git
[submodule "lib/lqr"]
	path = lib/lqr
	url = https://github.com/ImageMagick/lqr.git
[submodule "lib/freetype"]
	path = lib/freetype
	url = https://github.com/ImageMagick/freetype.git
